body {
    font-family: Arial, sans-serif;
    background-color:#8FBC8B;
}
header {
  background-color: #A9BA9D;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
footer {
  background-color: ##FAFADE;
  padding: 10px;
  text-align: center;
  color: white;
}
